@import "reset.css";

.container {
  display: flex;
  align-items: center;
  height: auto;
  width: auto;
}

nav {
  height: 100vh;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.55);
  text-align: center;
}

nav .logo {
  height: 30%;
  font-size: 3rem;
  font-weight: bold;
  margin: 4rem 2.5rem;
  cursor: default;
}

nav .nav-item {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  height: 6.5rem;
  width: 10vh;
  margin: 3rem 0;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item:hover {
  background-color: white;
  width: 10vw; 
}

.this-page {
  background-color: rgb(46, 46, 46);
  border-radius: 1.5rem;
  padding: 1rem;
}

.menu-item i {
  color: rgb(255, 254, 235);
  font-size: 3rem;
}

.menu-text {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  width: 10vw;
  color:rgb(0, 0, 0);
  display: none;
}

.login {
  font-size: 1.3rem;
  margin: 1.5rem;
}

.login span {
  margin: 0 1rem;
  cursor: default;
}

.main {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.middle {
  background-color: rgba(0, 0, 0, 0.6);
  width: 75rem;
  height: 90vh;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.main-header {
  font-size: 3.5rem;
  font-weight: 600;
  cursor: default;
}

.grid-title {
  font-size: 1.7rem;
  width: 10rem;
  cursor: default;
}

.grid-detail {
  height: 4rem;
  width: 28rem;
  background-color: rgba(0, 0, 0, 0);
  border: 0.3rem solid #AEAEAE;
  border-radius: 0.7rem;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  outline: none;
}

.edu-area {
  display: flex;
  flex-direction: column;
  height: 50rem;
  width:60rem;
}

.high-univ {
  margin-bottom: 7rem;
}

.high-univ input[type=radio] {
  display: none;
}

.high-univ input[type=radio] + label{
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: 0.2rem solid gray;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0;
  width: 10rem;
  margin-right: 1rem;
  text-align: center;
  cursor: pointer;
}

.high-univ input[type=radio]:checked + label {
  background-color: #8a2b2b60;
  border: 0.3rem solid #af2424;
}

.univ {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30rem;
}

.high {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30rem;
}

.edu-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 3rem;
}

.sm-input {
  width: 13.3rem;
}

.grid-block {
  display: flex;
  align-items: center;
  width: 35rem;
}

.grid-block select {
  color: white;
  width: 16rem;
  height: 4.5rem;
}

option {
  background-color:rgb(46, 46, 46);
  border: 0.3rem solid #AEAEAE;
  border-radius: 0.7rem;
  height: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}

.sm-block {
  width: 21rem;
}

.date-area {
  display: flex;
  align-items: center;
  padding: 3rem 0;
}

.date-detail {
  height: 4rem;
  width: 13rem;
  background-color: rgb(54, 54, 54);
  border: 0.3rem solid #AEAEAE;
  border-radius: 0.7rem;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  outline: none;
}

.between {
  font-size: 2rem;
  margin: 0 3rem;
  cursor: default;
}

.date-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30rem;
}

.date-box select {
  width: 14rem;
  height: 4.7rem;
  color: white;
}

.down-btn {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.down-btn button{
  font-size: 1.7rem;
  font-weight: 700;
  background-color: #141414;
  border: 0.2rem solid #AEAEAE;
  border-radius: 1rem;
  color: white;
  padding: 0.7rem 0;
  width: 10rem;
  cursor: pointer;
}

.high .grid-block select {
  width: 30rem;
}